html, body {
    font-family: Verdana, sans-serif;
}

.container {
    width: 100%;
    text-align: center;
    outline: 0px solid transparent;
}
.container:focus {
    outline: 0px solid transparent;
}

.mainDiv {
    display: inline-block;
    width: 400px;
    text-align: left;
    vertical-align: top;
    margin: 0 20px;
}

.word {
    padding: 5px 10px;
    cursor: pointer;
}
.word-selected {
    background-color: lightblue;
    border: 1px solid darkblue;
}

.word-unclassified {
    color: black;
}
.word-lively {
    color: seagreen;
}
.word-normal {
    color: #666;
}
.word-crosswordese {
    color: darkgoldenrod;
}
.word-iffy {
    color: sienna;
}

.category {
    display: inline-block;
    background-color: white;
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 5px;
    margin-left: 10px;
    color: black;
}
.category-selected {
    background-color: lightcoral;
}

.clue {
    margin: 10px 0;
    font-size: 11px;
}

#save_btn {
    font-size: 16px;
    border: 2px darkblue solid;
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}